fastapi==0.110.0
uvicorn[standard]==0.21.1

llama-index==0.14.9
langchain==1.1.0

requests==2.31.0
huggingface-hub==0.21.4
transformers==4.34.0
sentence-transformers==2.2.2

pytest==7.4.2
httpx==0.24.1

pydantic==2.7.4
python-dotenv==1.0.0
gunicorn==21.2.0
